[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_size = 2
tab_width = 2

[*.{yaml,yml}]
indent_size = 2
tab_width = 2

# Markdown
[*.{md,markdown}]
trim_trailing_whitespace = false
indent_size = 2
tab_width = 2

# JavaScript/TypeScript
[*.{js,ts,vue}]
ij_typescript_spaces_within_imports = true
ij_javascript_spaces_within_imports = true
ij_typescript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_object_type_braces = true
ij_typescript_spaces_within_object_type_braces = true

# Vue
[*.vue]
ij_vue_indent_children_of_top_level = template,script,style
