:root {
    --p-primary-color: #0070f3;
    --p-surface-ground: #fff;
    --stl-font-family-base: 'Helvetica Neue', helvetica, arial, sans-serif;
}

html {
    background-color: var(--p-surface-ground);
    font-family: var(--stl-font-family-base);
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: normal;
}

a {
    color: var(--p-primary-color);
}
